*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Muli', sans-serif;
  font-size: 100%;
  background: #222;
}

h1 {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10px;
  font-size: 16vmin;
  text-align: center;
  text-shadow: 0 0 18px #a8a8a8;
  color: white;
}

h2 {
  margin: 10px;
  font-size: 10vmin;
  font-weight: 200;
  letter-spacing: -.03rem;
  text-align: center;
  text-shadow: 0 0 18px #a8a8a8;
  color: white;
}

.galaxy-wrapper {
  position: relative;
  background-image: url(https://images-assets.nasa.gov/image/PIA08093/PIA08093~orig.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.main {
  position: absolute;
  top: 5%; 
  left: 0; 
  width: 100%;
}

.social--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 20vmin;
  margin: 10px auto 0;
  cursor: pointer;
}

.icon {
  margin: auto;
  width: 100%;
  padding: 8px;
  fill: rgba(255, 255, 255, .1);
  stroke: #fff;
  stroke-width: 5px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.icon:hover, .icon:focus {
  fill: rgba(255, 255, 255, .9);
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

@media only screen and (min-width: 700px) {

  h1 {
    margin-bottom: 30px;
  }
  .main {
    top: 10%;
  }

  .social--list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50vmin;
    margin: 20px auto 0;
  }

}