*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Muli', sans-serif;
  background: #222;
}

h1 {
  margin-bottom: 30px;
  font-size: 18vmin;
  text-align: center;
  text-shadow: 0 0 18px #a8a8a8;
  color: white;
}

h2 {
  margin: 10px;
  font-size: 10vmin;
  font-weight: 200;
  letter-spacing: -.03rem;
  text-align: center;
  text-shadow: 0 0 18px #a8a8a8;
  color: white;
}

.main {
  position: absolute;
   top: 10%; 
   left: 0; 
   width: 100%;
}

.galaxy-wrapper {
  position: relative;
  background-image: url(https://images-assets.nasa.gov/image/PIA08093/PIA08093~orig.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.social--list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 6em;
  margin: 20px auto 0;
  cursor: pointer;
}

.icon {
  margin: auto;
  width: 2em;
  height: 2em;
  padding: 8px;
  fill: rgba(255, 255, 255, .1);
  stroke: #fff;
  stroke-width: 5px;
  transition: all 0.25s ease;
}

.icon:hover, .icon:focus {
  fill: rgba(255, 255, 255, .9);
  transition: all 0.15s ease;
}

@media only screen and (min-width: 600px) {
  .social--list {
    flex-direction: row;
    justify-content: center;
  }
  .icon {
    width: 1em;
    height: 1em;
  }
}
